/*miscellaneous*/
body {
    background-color: #D65108;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
*{
    color: #591F0A;
}

a {
    text-decoration: none;
    color: #591F0A;
}

.arab {
    text-align: right;
}

/*miscellaneous slutt*/

/*navbars*/
ul {
    background-color: #EFA00B;
    margin: auto;
    position: fixed;
    z-index: 4;
}

ul li {
    display: inline-block;
    border: 10px;
    border-style: outset;
    border-color: #0075C4;
    border-radius: 3px;
    background-color: #0267C1;
}

.navbar1 {
    padding: 10px 10px;
    font-size: 24px;
    top: 0;
    left: 0;
    right: 0;
}

.navbar1 li {
    padding: 0px 10px;
}

.navbar2 {
    padding: 10px 10px;
    font-size: 24px;
    bottom: 0;
    left: 0;
    right: 0;
}

.navbar2 li {
    padding: 0px 10px;
}

.spanskbar1 {
    padding: 12px 10px;
    font-size: 20px;
    top: 0;
    left: 0;
    right: 0;
}               
                
.spanskbar2 {               
    padding: 12px 10px;             
    font-size: 20px;                
    bottom: 0;              
    left: 0;                
    right: 0;               
}               
                
.spanskbar1 li {                
    padding: 0px 10px;              
}               

.spanskbar2 li {
    padding: 0px 10px;
}

/*navbar slutt*/

/*bilde*/
.my-img {
    height: auto;
    width: 430px;
    margin-top: 5%;

}

img {
    animation: rotateImg 5s linear infinite;
}

@keyframes rotateImg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

img:hover {
    cursor: pointer;
}

.kinameg {
    height: auto;
    width: 550px;
    margin-top: 7.3%;
    position: fixed;
    left: 31%;
}

.spanskmeg {
    height: auto;
    width: 550px;
    margin-top: 8.99%;
    position: fixed;
    left: 31%;
}

.arabiskmeg {
    height: auto;
    width: 315px;
    margin-top: 5%;
    position: fixed;
    left: 37%;
}

/*bilde slutt*/

/*språkskifte*/
.spark {
    top: 75px;
    right: 10px;
    left: auto;
    bottom: auto;
    position: fixed;
    z-index: 5;
}

.sparkned {
    position: fixed;
    bottom: 80px;
    left: 10px;
    right: auto;
    top: auto;
    z-index: 5;
}

select {
    color: #591F0A;
    background-color: #0267C1;
    border: #0075C4;
    border-style: outset;
}

/*språkskifte slutt*/

/*calc*/
.calculator {
    border: 2px solid #a87008;
    border-radius: 10px;
    padding: 10px;
    width: 220px;
    background-color: #EFA00B;
    position: fixed;
    right: -230px;
    transition: right 0.5s;
    margin-top: 13%;
}

.calculator:hover {
    right: 0;
}

input {
    width: calc(100% - 32px);
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    border: 5px solid #004370;
    border-radius: 5px;
    background-color: #0075C4;
}

.calculator button {
    width: 45px;
    height: 45px;
}

button {
    font-size: 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0075C4;
    border: 5px solid #004370;
}

button:focus {
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/*calc slutt*/

/*notat*/
.liste {
    border: 2px solid #a87008;
    border-radius: 10px;
    padding: 10px;
    width: 220px;
    background-color: #EFA00B;
    position: fixed;
    left: -231px;
    transition: left 0.5s;
    margin-top: 13%;
    height: 280.4px;
}
.liste ::placeholder {
    color: #591F0A;
}

.liste:hover {
    left: 0;
}

.list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll; 
    max-height: 178px;
    color: #591F0A;
}

.liste ::-webkit-scrollbar {
    display: none;
}

.list-item {
    display: flex;
    border: 10px;
    border-style: outset;
    border-color: #0075C4;
    border-radius: 3px;
    background-color: #0267C1;
    margin: 5px 0;
    padding: 5px;
    word-break: break-all;
}
/*notat slutt*/

/*countdown*/
.countdown {
    position: fixed;
    z-index: 8;
    border: 10px;
    border-color: #0075c4;
    border-style: outset;
    display: inline-block;
    background-color: #0267C1;
    margin-top: 604px;
    margin-left: 230px;
}
/*countdown slutt*/